body{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
}

.top-banner{
    background-image: url(images/top-banner-1.png);
    background-repeat: no-repeat;
    padding-top: 10px;
}

h1{
    font-size: 50px;
    margin-bottom: 5px;
}

h2{
    font-size: 30px;
}

.heder-text-1{
    color:#EE2F4A ;
}

.heder-text-2{
    color: rgb(41, 131, 41);
}

.flexible-container{
   display: flex; 
   margin-bottom: 50px;
}

.half-width{
    width:50%;
    padding-left: 5%;
}

.half-width img{
    width: 90%;
    background-repeat: no-repeat;
}

.button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(rgb(219, 68, 93) , pink);
    padding: 10px 40px;
    border-radius: 50px;
}

.middle-background{
    background-image: url(images/middle-background.jpg);
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left:2px;
    height: 500px;
}
    
.color-gray{
    color:gray;
}
.my-recipies{
    text-align: center;
}
.recipie-item {
    color: gray;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 19px;
    margin-left: 7%;
    margin-right: 14%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.recipie-item img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 15%;
}
.recipie-item-text{
    text-align: center;
}
.social-status-show{
    display: flex;
    color: gray;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.social-text{
    padding-right: 10%;
    padding-left:15% 
}
.social-span-text{
    font-size: 10px;
}